#ignore prod properties
/src/main/resources/application.*

/build
/.gradle

/logs/*

/.idea/.name
/.idea/gradle.xml
/.idea/misc.xml
/.idea/kotlinScripting.xml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/sqldialects.xml
/.idea/dataSources.xml
/.idea/modules.xml
/.idea/compiler.xml
